<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="container">
  <div class="row">
      <div class="col-md-8">
          <h2>Category: <%= category %></h2>
          <table class="table table-striped">
              <thead>
                  <tr>
                      <th>Name</th>
                      <th>Category</th>
                      <th>Details</th>
                  </tr>
              </thead>
              <tbody>

                  <% jsdata.sources.forEach(function(item){ 
                      if(item.category != category){
                          counter++;
                          return;
                      }
                      %>
                        <tr>
                            <td><%= item.name %></td>
                            <td><%= item.category %></td>
                            <td><a href="/news-sources/<%= item.category %>/<%= counter %>" class="btn btn-primary">View Details</a></td>
                        </tr>
                  <% counter++ }) %>

              </tbody>
          </table>
      </div>
      <div class="col-md-4">
          <h2>Filter</h2>
          <form>
            <div class="selectpicker form-group">
              <label for="sel1">Select list (select one):</label>
              <select class="form-control" id="sel1" onchange="changeLink()">
                  <% 
                  var catSet = new Set();
                  jsdata.sources.forEach(function(item){
                      if(catSet == null) {
                          catSet.add(item.category);
                      } else {
                          if(catSet.has(item.category)){
                              return;
                          } else {
                              catSet.add(item.category);
                          }
                      }
                      if(item.category == category){
                   %>
                    <option selected="selected" value="<%= item.category %>"><%= item.category %></option>
                  <% 
                  } else {
                  %>
                    <option value="<%= item.category %>"><%= item.category %></option>
                  <%
                  }
                  
                  } )%>
              </select>
            </div>
            <script>
                function changeLink(){
                  var sel = document.getElementById("sel1").value;
                  document.getElementById("link1").href = sel;
                };
                
            </script>
            <a id="link1" href="" class="btn btn-danger">Filter</a>
        </form>
      </div>
              
      
  </div> <!-- row -->
   
</div>


</body>
</html>

