<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="container">
  <div class="row">
     <h2>Add channel</h2>
      <div class="col-md-8">
          <h2><%= jsdata.sources[id].name %></h2>
          <h4><%= jsdata.sources[id].description %></h4>
          <a href="<%= jsdata.sources[id].url %>" target="_blank"><h5><%= jsdata.sources[id].url %></h5></a>
          <h5>Category: <%= jsdata.sources[id].category %></h5>
          <h5>Language: <%= jsdata.sources[id].language %></h5>
          <h5>Country: <%= jsdata.sources[id].country %></h5>
          <!--
          <a href="#" class="btn btn-primary">Delete</a>
         <a href="#" class="btn btn-primary">Update</a>
-->
      </div>
      <div class="col-md-4">
          <h2>See All News</h2>
          <button class="btn btn-primary" onclick="window.history.back()">Go Back!</button>
      </div>
      
  </div> <!-- row -->
</div>


</body>
</html>


