<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="container">
  <div class="row">
    
      <div class="col-md-8">
          <h2><%= data.sources[id].name %></h2>
          <h4><%= data.sources[id].description %></h4>
          <a href="<%= data.sources[id].url %>" target="_blank"><h5><%= data.sources[id].url %></h5></a>
          <h5>Category: <%= data.sources[id].category %></h5>
          <h5>Language: <%= data.sources[id].language %></h5>
          <h5>Country: <%= data.sources[id].country %></h5>
      </div>
      <div class="col-md-4">
          <h2>See All News</h2>
          <button class="btn btn-primary" onclick="window.history.back()">Go Back!</button>
      </div>
      
  </div> <!-- row -->
   
</div>


</body>
</html>


